#contact {
    padding: 3%;
    background-color: white;
}

#contact__container {
    border-radius: 10px;
}

#enlace {
    text-decoration: none;
}

#email {
    color: #272929;
}

@media only screen and (max-width: 600px) {
    #contact {
        padding: 5%;
        margin-top: 15%;
    }
}